@import url(style.css);


* {
    margin: 0;
    padding: 0;

}

.area-cadastro {
    background-color: #400036;
    color: aliceblue;
    margin: 150px auto;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 20px;
}

.area-formulario {
    display: flex;
    justify-content: center;
    width: 60vw;

}

.area-endereco {
    display: block;
}

.area-formulario>div {
    display: flex;
    gap: 50px;

}

div {
    width: 100%;
    display: flex;
}



input,
select {
    padding: 7px 0;
    margin-bottom: 8px;
}

.area-botao {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#botao-cadastrar {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
}

.titulo-campo {
    flex-direction: column;

}

.formatacao {
    gap: 1rem;
}

form {
    width: 50vw;
}

.ddd,
.numero {
    width: 100px;

}

.cep {
    width: 200px;
}

input,
select {
    padding: 8px;
    border-radius: 7px;
    border: none;
    font-size: 1.1rem;
}

@media(max-width: 430px) {

    .area-cadastro {
        margin-top: 8vh;
        width: 100vw;
        background: transparent;
        color: var(--cor-principal);
    }

    form {
        width: 85wv;
    }

    .formatacao {
        flex-direction: column;
    }

    .area-contato,
    .endereo-numero,
    .cidade-cep{
        flex-direction: row;
    }


    input,
    select {
        border: 2px solid var(--cor-principal);
    }

    .cep{
        width: 30vw;
    }

    #botao-cadastrar{
        background-color: var(--cor-principal);
        color: white;
    }

    .link-login{
        color: var(--cor-principal);
    }


















}